
/* 739px min 770px max */
#contact {
  text-align: center;
}

#team .who-img {
display: none;
}

#team {
text-align: center;
}



@media(max-width: 739px) {
  /* Navbar Logo */

  /* Section: Showcase */

  #showcase {
    background-image: 
      linear-gradient(
        rgba(51, 51, 51, 0.7), 
        rgba(51, 51, 51, 0.7)
      ),
      url('../img/showcasemobile.jpg');
      
      height: 800px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

  }
  
  
  .navbar .logo {
    float: none;
    text-align: center;
    padding: 10px 0px 1px 0px;
  }
  
    .navbar ul {
      list-style: none;
      float: none;
      text-align: center;
      padding: 5px;
    }
    
    .navbar ul li {
      float: none;
      display: inline-block;
    } 
    
}  

/* Smartphones */
@media(max-width: 500px) {
  /* Navbar Logo */
  .navbar .logo {
    float: none;
    text-align: center;
    padding: 10px 0px 1px 0px;
  }

  .navbar ul {
    list-style: none;
    float: none;
    text-align: center;
    padding: 5px;
  }
  
  .navbar ul li {
    float: none;
    display: inline-block;
  } 
  
  .navbar ul li a {
    padding: 5px;
    display: inline-block;

  }
  
  /* Section: Showcase */

  #showcase {
    background-image: 
      linear-gradient(
        rgba(51, 51, 51, 0.7), 
        rgba(51, 51, 51, 0.7)
      ),
      url('../img/showcasemobile.jpg');
      
      height: 800px;
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }

    /* Team Section  */

    #team .who-img {
      display: none;
    }

    #team {
      text-align: center;
    }

    
    #contact {
        text-align: center;
    }

  }


 
